.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-direction: column;

    button {    
        margin-top: 20px;
        border: 1px solid white;
        padding: 6px 10px;
        border-radius: 5px;
        color: #f5f5f5;
        background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
        margin-right: 10px;
    }
}

.lastwinning {
    display: flex;
    padding: 10px 40px;
    .winning {
        display: flex;
        //give a text color of gradient from purple to blue
        color: #6a11cb;
        font-size: 24px;
        font-weight: 600;
        background: linear-gradient(to right, #6a11cb, #2673fb);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        .last {
            margin-right: 40px;
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    .nextdraw, .ticketing, .balance {
        padding: 20px;
        width: 400px;
        min-height: 350px;
        background-color: #131417;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;

        .title {
            font-size: 24px;
            margin-bottom: 14px;
        }

        .stats, .ticketer {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .stat {
                border-radius: 8px;
                width: 48%;
                border: 1px solid #272b30;
                padding: 10px;
            }
            .ticket {
                width: 100%;
                border-radius: 8px;
                border: 1px solid #272b30;
                padding: 10px;

                .price, .detail {
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                    margin-bottom: 4px;
                }
                .detail {
                    margin-bottom: 2px;
                }
                .total {font-weight: 700; font-size: 16px;}
                .buy {
                    display: flex;
                    border-radius: 8px;
                    background-color: black;
                    padding: 10px;
                    margin-bottom: 8px;
                    input {
                        margin-left: 10px;
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        color: white;
                        text-align: end;
                        outline: none;
                    }
                }
                .purchase {
                    margin-top: 20px;
                    width: 100%;
                    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
                    border-radius: 8px;
                    padding: 10px;
                    &:disabled {
                        background: #272b30 !important;
                    }
                }
            }
        }

        .mytickets {
            display: flex;
            flex-direction: column;
            width: 100%;
            .myticket {
                text-align: center;
                padding: 2px;
                border-radius: 8px;
                border: 1px solid #272b30;
                font-size: 12px;
                width: 100%;
                margin-bottom: 6px;
            }
        }
    }

    .ticketing {

    }
}

.winning {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .won {
        width: 1280px;
        background-color: #131417;
        color: white;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        .windetails {
            display: flex;
            flex-direction: column;
            .title {
                font-size: 24px;
            }
        }

        button {
            padding: 6px 40px;
            border-radius: 5px;
            color: #f5f5f5;
            background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
        }
    }
}